GitPython>=3.1.44
glom>=23.1.1
google-auth>=2.28.1
Jinja2>=3.1.5,<4
langchain-core>=1.0.0,<2
langchain-openai>=1.0.0,<2
langgraph>=1.0.0,<2
langsmith>=0.3.45,<1
lkml>=1.3.1
Markdown>=3.4.1
numpy>=1.26.0,<2.0.0
openai>=1.59.8,<3
ordereddict>=1.1
pandas>=2.2.0,<3.0.0
pandas_dedupe>=1.5.0
pandas_gbq>=0.20.0,<0.21.0
protobuf>=6.0,<7.0
pydantic>=2.10.5,<3
PyYAML>=6.0.2
ruamel.base>=1.0.0
ruamel.yaml>=0.17.21
six>=1.16.0
snowflake-connector-python>=3.13.0,<4.0.0
snowflake-sqlalchemy>=1.4.6
SQLAlchemy>=1.4.54,<2.0.0
typing_extensions>=4.12.2
pyarrow>=14.0.1,<19.0.0
