click==8.0.1
GitPython==3.1.26
jinjasql==0.1.8
lkml==1.1.0
pandas==1.3.5
pandas_gbq==0.15.0
protobuf==3.19.4
PyYAML==6.0
ruamel.base==1.0.0
six==1.16.0
snowflake==0.0.3
snowflake_sqlalchemy==1.3.3
SQLAlchemy==1.4.22
tqdm==4.62.3
typer==0.4.0
